<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">

    <title>IMAGE-BOARD</title>
</head>
<body>
    <div id="main">
        <div class="title"><h1>IMAGE BOARD PROJECT</h1></div>
        <form class="form-input">
            <input v-model="title" type="text" name="title" placeholder="title">
            <input v-model="description" type="text" name="description" placeholder="description">
            <input v-model="username" type="text" name="username" placeholder="username">
            <input @change="fileSelectHandler" type="file" class="inputfile" name="file" accept="image/*"> 
            
            <button @click.prevent="clickHandler" type="submit">SUBMIT</button>
        </form>
        <section class="image-grid">
          <div class="image-item" v-for="image in images">
            <img :src="image.url">
           <h4>{{image.title}}</h4> 
          </div>
        </section>
    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
</body>
</html>


<!-- COMMENT -->
<!-- v-bind: può essere chiamato anche solo con : -->
<!-- v-on:mouseout="setAge(10)" -->
<!-- V-on: abbreviazione = @ -->

<!-- CODE FROM FIRST ENCOUNTER
<div id="main">
    <h1 v-bind:title="name + '!'">{{name}}</h1>
    <h1 :title="name + '!'">{{name}}</h1>  
    <h2>{{age}}</h2>
    <p>{{ 'Hello World!' }}
    <p>2 + 2 = {{ 2 + 2 }}
    <div v-if="age == 18">
        <h3 v-for="h in headings" @mouseover="setName(h)" >{{h}} </h3>
    </div>
    <input v-model="age">
</div> -->