body {
    background-color: #334756;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#main {
    height: 300px;
}

.title {
    display: flex;
    color: #f0a500;
    justify-content: center;
    flex-direction: row;
    border-bottom: 1px solid #f0a500;
}
.form-input {
    display: flex;
    padding: 10px;
    padding-left: 50px;
    border-bottom: 1px solid #f0a500;
    justify-content: center;
    align-items: center;
}
input {
    color: #334756;
    background-color: #f0a500;
    margin: 5px;
    border: 0px;
    border-radius: 10px;
    height: 20px;
}

::placeholder {
    color: #334756;
    padding-left: 5px;
}

button {
    width: 70px;
    background-color: #f0a500;
    border: 0px;
    border-radius: 10px;
    height: 20px;
    color: #334756;
    cursor: pointer;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding: 15px;
}

.image-item {
    display: flex;
    flex-direction: row;
    border: 2px solid #f0a500;
    background-color: linen;
    height: 300px;
    width: 300px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 15px;
}

img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border: 2px solid dimgray;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    color: #f0a500;
}

/* MODAL */

.modal-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    position: fixed;
}

.image-grid-modal {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding: 15px;
}

.image-modal {
    display: grid;
    /* grid-template-rows: repeat(auto-fit, minmax(auto-fit, 1fr)); */
    grid-template-rows: 18px 360px 18px 50px 35px auto 20px;
    border: 2px solid #f0a500;
    background-color: linen;
    height: 700px;
    width: 700px;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    padding: 10px;
    margin: 15px;
    z-index: 98;
}

.img-in-modal {
    height: 350px;
    width: 450px;
    object-fit: cover;
    border: 2px solid dimgray;
}

.title-in-comment {
    color: #f0a500;
    font-size: 35px;
    font-weight: bold;
}
.close-in-images {
    justify-self: self-end;
}

h5 {
    margin: 0;
    font-style: italic;
}

h6 {
    font-size: 16px;
    color: #334756;
    margin: 0;
    height: 30px;
}

.comment-modal {
    background-color: linen;
}

.comment-input {
    width: 700px;
    display: flex;
    border-bottom: 1px solid #f0a500;
    justify-content: center;
    align-items: center;
}
.delete-immage-image-modal {
    justify-self: self-end;
    font-weight: bold;
    font-size: 12px;
    padding: 2px;
    border: 1px solid #f0a500;
    border-radius: 10px;
    color: #334756;
    background-color: #f0a40048;
}
